<div class="login-container">
  <form [formGroup]="formSigunp" (ngSubmit)="onSubmit()">
    <input formControlName="name"  id="sigunp-name"placeholder="Informe o seu nome" />
    <input formControlName="email" id="sigunp-email"placeholder="Informe seu e-mail" type="email" />
    <input formControlName="password" id="sigunp-password" placeholder="Informe sua senha" type="password" />
    <a [routerLink]="['/']">Voltar</a>
    <button type="submit" [disabled]="f.invalid">Cadastrar</button>
  </form>
</div>